// Font Style

* {
    font-family: 'Noto Sans', sans-serif; 
    transition: all .3s;
    line-height: 1.7;
}

// Body Styles

main {
    margin: 0 auto;
    align-items: center;
    background-color: $page-background;
}

body {
    background-color: $page-background;
}

 h1 {
     font-size: 3.5rem;
}

.about,
.skills,
.projects,
.contact {
    padding: 4rem 8%;
    border-bottom: $border-bottom;
}

a {
    cursor: pointer;
}

// Header Styles
.header {
    padding: 8rem 8% 4rem;
    border-bottom: 1px solid black;
    background: rgb(110,144,153);
    background: linear-gradient(163deg, rgba(110,144,153,1) 33%, rgba(232,232,232,1) 89%);
    box-shadow: $box-shadow;
}

.tagline {
    padding-bottom: 2rem;
}

.header-social {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    column-gap: 40px;
}

.social-item {
    display: flex;
    justify-content: center;
    list-style-type: none;
    border-top: 1px solid black;
    padding-top: 1rem;

    a {
        display: grid;
        place-items: center;
    }
}

.social-item:nth-child(2) {
    grid-column-start: 2;
}

h1, 
h2 {
    color: $heading-colour;
    text-transform: uppercase;
    text-shadow: 2px 2px $secondary-text;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.3rem;
}

// About Section
.about-text,
.card-text {
    color: $secondary-text;
}

// Main Project Section Styles
.btn-project,
.modal-btn {
    text-decoration: underline;
    text-decoration-thickness: .15em;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $modal-colour;
}

.modal-content {
    background-color: $modal-text;
    margin: 15% auto;
    padding: 8%;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 10%);
}

.close-modal {
    color: $secondary-text;
    float: right;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
}

.modal-close:hover {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.btn-project:nth-child(1) {
    margin-right: 1.5rem;
}

.card-text {
  margin: 0 auto;
  padding-bottom: 1rem;
}

.project-image {
    max-width: 100%;
    width: auto;
    height: auto;
    border-radius: 15px;
    padding: 1rem 0;
}

.card-project {
    margin-bottom: 2rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #dddddd;
}

.card-project:nth-of-type(6) {
    border-bottom: none;
    padding-bottom: 0;
}

.project-links {
    padding: 1rem 0;
    margin: 0 auto;
}

.tech-list-modal {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}

.tech-list-modal-item {
    list-style-type: none;
}

.hidden {
    display: none;
}

// Skills Styles

.skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1rem;

    .skills-item {
        align-items: center;
        text-align: center;
        list-style-type: none;
        width: 45%;
    }
}

.skill-svg {
    width: 120px;
    height: 120px;
    fill: black;
}
// Nav Styles

.nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: $navbar-colour;
    padding: .3em;
}

.nav-list {
    position: absolute;
    top: 30px;
    background-color: $navbar-colour;
    width: 100%;
    transition: .5s;
}

.nav-item {
    display: flex;
    justify-content: center;
    padding: 1rem;
    text-decoration: none;
    list-style-type: none;
    
    a {
        text-decoration: none;
        color: white;
    }
}

.nav-link:hover {
    text-decoration: underline;
}

.hamburger-nav {
    display: inline-block;
    cursor: pointer;
    margin-right: 1.5rem;
    overflow: auto;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 4px;
    background-color: $hamburger-colour;
    margin: 6px 0;
    transition: 0.4s;
}

.change {
    .bar1 {
        transform: rotate(-45deg) translate(-8px, 6px) ;
    }
    .bar2 {
        opacity: 0;
    }
    .bar3 {
        transform: rotate(45deg) translate(-8px, -7px) ;
    }
}

// Contact Styling

.contact {

    p {
        padding-bottom: 1rem;
    }
}

.social-container {
    margin: 0 auto;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    column-gap: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.form-pair {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.form-label{
    padding-bottom: .5rem;
}

.form-input {
    border: $hamburger-colour solid 1px;
    box-shadow: $box-shadow;
    padding: .5rem;
    border-radius: 5px;
}

#message {
    height: 154px;
}

.submit-btn {
    color: $modal-text;
    background-color: $heading-colour;
    padding: .5rem;
    width: 100%;
    border-radius: 5px;
}

// Footer Styling
.footer { 
    border-top: 1px solid black inset;
    box-shadow: $box-shadow;
    align-items: center;
    background: rgb(110,144,153);
    background: linear-gradient(337deg, rgba(110,144,153,1) 8%, rgba(232,232,232,1) 89%);

    p {
        padding: 1rem 0;
        margin: 0;
        text-align: center;
    }
}
 
// Media Queries
@media screen and (min-width: 700px) {
    // General

    main,
    .header-content {
        max-width: 1200px;
    }

    section,
    .header-content {
        margin: 0 auto;
    }

    .header {
        padding: 10rem 8%;
    }

    .header-social {
        max-width: 40%;
    }

    // Nav
    .hamburger-nav {
        display: none;
    }

    .nav-list {
        display: flex;
        justify-content: right;
        position: static;
        padding-right: 2rem;
        margin: .5rem;
    }

    .nav-item {
        display: inline;
        padding: .5rem;
    }

    .about,
    .skills,
    .projects,
    .contact {
        padding: 4rem 8%;
    }

    // Header 
    h1 {
        font-size: 4rem;
    }

    // About
    .about-text {
        align-items: center;
        max-width: 500px;
        padding-left: 4rem;
    }

    // Skills List
    .skills-list {

        .skills-item {
            width: 33%;
        }
    }

    // Main Article Section Styles
    .main-content {
        margin-top: 6em;
    }

    .card-text {
        max-width: 80%;
        padding: 5%;
    }

    .project-image {
        max-width: 50%;
    }

    .card-project {
        display: flex;
    }

    .card-project:nth-of-type(even) {
        flex-direction: row-reverse;
    }

    .modal-content {
        max-width: 680px;

        .project-image {
            max-width: 100%;
        }
    }

    // Contact Styling
    .submit-btn {
        width: 185px;
    }

    .contact {
        display: flex;
        align-items: center;
    }

    .contact-form {
        width: 60%;
    }

    .contact-social {
        padding: 2rem 0 0 3.5rem;
    }
}
@media screen and (min-width: 1200px) {
    // Header

    .header-content {
        padding-left: 10%;
    }
    // Skills List
    .skills-list {

        .skills-item {
            width: 25%;
        }
    }
}