// Colour Variables
$page-background: #efefef;
$modal-colour: rgba(239,239,239, 0.5);
$heading-colour: #333333;
$card: whitesmoke;
$secondary-text: #757575;
$navbar-colour: #111;
$modal-text: #d7d7d7;
$border-bottom: #dddddd solid 1px;
$hamburger-colour: #949494;


// Shadow variables
$box-shadow: inset 0px 1px 4px 0px rgb(0 0 0 / 10%);